<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h4>TS SSC</h4>
            <p>Take unlimited practice and mock test</p>
            <div class="card">
                <div class="card-body">
                    <div class="topic"> TOPIC-WISE
                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#staticBackdrop">
   Start
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Start Practice Test</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="form-label" for="class">Class</label>
          <select class="form-control" name="class" id="">
              <option value=""></option>
              <option value="class7">class7</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Start</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn float-right">Practice</button>
</div>
                   <div class="topic">CHAPTER-WISE
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#staticBackdrop">
                        Start
                       </button>
                       
                       <!-- Modal -->
                       <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                         <div class="modal-dialog">
                           <div class="modal-content">
                             <div class="modal-header">
                               <h5 class="modal-title" id="staticBackdropLabel">Start Practice Test</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <div class="modal-body">
                               <label class="form-label" for="class">Class</label>
                               <select class="form-control" name="class" id="">
                                   <option value=""></option>
                                   <option value="class7">class7</option>
                               </select>
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               <button type="button" class="btn btn-primary">Start</button>
                             </div>
                           </div>
                         </div>
                       </div>
                       <button class="btn float-right"> Practice</button>
                   </div>
                   <div class="topic">SUBJECT-WISE
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#staticBackdrop">
                        Start
                       </button>
                       
                       <!-- Modal -->
                       <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                         <div class="modal-dialog">
                           <div class="modal-content">
                             <div class="modal-header">
                               <h5 class="modal-title" id="staticBackdropLabel">Start Practice Test</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <div class="modal-body">
                               <label class="form-label" for="class">Class</label>
                               <select class="form-control" name="class" id="">
                                   <option value=""></option>
                                   <option value="class7">class7</option>
                               </select>
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               <button type="button" class="btn btn-primary">Start</button>
                             </div>
                           </div>
                         </div>
                       </div>
                       <button class="btn float-right">Practice</button>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h4>Previous Papers</h4>
            <p>Take unlimited practice and mock test</p>
            <div class="card">
              <div class="card-body text-center">
                <button class="btn btn-primary text-center">Start</button>
              </div>
            </div>
        </div>
    </div>
</div>
