*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav1{
    height: 80px;
    /* background-color: rgb(255, 241, 47); */
   
    
}
  ul{
      text-align: center;
      font-size: 20px;
      
  }
.ul li  :hover{
background-color: rgb(73, 73, 73);;
   color: rgb(255, 255, 255);

    
    /* border: 2px solid whitesmoke; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* padding: 5px; */
   
}
  .active{
 background-color: rgb(73, 73, 73);;
 color: rgb(255, 255, 255);
    
    /* border: 2px solid whitesmoke; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}