button{
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.2);
    width: 250px;
    height: 80px;
    
}
.card-title{
    background-color: rgb(187, 187, 187);
}
.scrollbar{
    overflow: scroll;
    width: 450px;
    height: 50px;
}