
<div class="row">
    
    <div class="col-md-4">
        
        <button class="btn">
           
            <p>Attendence</p> </button>
    </div>
    <div class="col-md-4">
        <button class="btn">
            <img src="assets/images/list-2579306__340.webp" width="80px" alt="">
            Homework/Assignment</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn">TimeTable</button>
    </div>
    <div class="col-md-4">
        <button class="btn">School Report Card</button>
    </div>
    <div class="col-md-4">
        <button class="btn">Circular</button>
    </div>
    <div class="col-md-4">
        <button class="btn">Calender and Events</button>
    </div>
    <div class="col-md-4">
        <button class="btn">Gallery</button>
    </div>
    <div class="col-md-4">
        <button class="btn">Transport</button>
    </div>
</div>
