
.disable{
    text-align: center;
    padding-top: 200px;
}
.fa-chevron-left{
    font-size: 50px;
    margin: 30px;
    color: black;
}
.container{
    background-color: azure;
    width: 1000px;
    height: 500px;
}