<p>analytics works!</p>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-title">
                    Syllubas SSC
                </div>
                <div class="card-body">
                    <div class="card col-md-6">
                        <div class="card-title">
                            Overall Performance
                        </div>
                        <div class="card-body">
                            <div class="row text-center text-secondary">
                            <div class="col-4">total test taken
                                <p >0</p>
                            </div> 
                            <div class="col-4">Average Score%
                                <p>0</p>
                            </div>
                            <div class="col-4">Time Spent
                                <p>0</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"  style="height: 30px;">
                <div class="card">
                    Number of test teken
                </div>
            </div>
        </div>
        
    </div>
</div>