
<div class="jumbotron " style="background-color: #eee;margin-top: 50px;">
    <h1 class="text-center text-success" style="text-transform: capitalize;font-weight: bolder;">welcome...</h1>
    <p class="date text-center " style="font-size: 25px;"> </p>
  </div>
  <div >
    <h3 class="text-center mx-2" style="border-bottom: 1px solid grey; border-top: 1px solid grey;">What's New</h3>
  <div class="" style="height: 300px;margin: 20px;">
    <div class="row">
      <div class="col" style="border-right: 1px solid grey;">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="col" style="border-right: 1px solid grey;">
        Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, repellat!
        Lorem, ipsum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptates.
        Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, repellat!
        Lorem, ipsum.
       
        
      </div>
      <div class="col">
        Lorem ipsum dolor sit amet.
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  </div>
  
  
  
  <div class="container my-4">
    <div class="row" style="height: 400px;">
      <div class="col-md-4" >
        <div class="card" style="height: 350px;box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.4); box-sizing: border-box;" >
         <div class="card-title">
           <h4 class="text-center my-2">Attendence Percentage</h4>
         </div>
          <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, voluptatum!
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"style="height: 350px;box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.4);box-sizing: border-box;">
          <div class="card-title">
            <h4 class="text-center my-2">Results</h4>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, voluptatum!
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"style="height: 350px;box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.4);box-sizing: border-box;">
          <h4 class="text-center my-2">Homework Status</h4>
          <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, voluptatum!
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container my-4" >
    <div class="row">
      <div class="col" style="box-sizing: border-box;border: 1px solid grey;height: 300px;">
       <h4 class="text-center my-2" style="border-bottom: 1px solid grey;text-align: center;">Time Table</h4>
      </div>
      <div class="col"  style="box-sizing: border-box;border: 1px solid grey;height: 300px;">
        <h4 class="text-center my-2" style="border-bottom: 1px solid grey;text-align: center;">Upcoming Exams</h4>
      </div>
    </div>
    </div>